.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 1200;
}

.modal {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  max-width: 350px;
  max-height: 250px;
  overflow: auto;
}

.btnClose {
  padding: 3px 13px;
  border-radius: 3px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

btnClose:hover {
  cursor: pointer;
  background-color: #3e8e41;
}

.title {
  margin-top: 0;
}

.status {
  display: flex;
  gap: 10px;
}
